<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Andrea Soprani{% endblock title %}</title>
  <meta name="description" content="{% block description %}Andrea Soprani's personal website{% endblock description %}">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/propic.jpg">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav>
        <a href="/">Home</a> /
        <a href="/blog/">Blog</a>
      </nav>
      <img src="/propic.jpg" alt="Andrea Soprani">
      <p>This is me.</p>
      <p class="view">
        <a href="https://github.com/andreasoprani" aria-label="GitHub Profile"><img src="/github-mark.svg" alt="GitHub"
            width="24" height="24"></a>
        <a href="https://www.linkedin.com/in/andreasoprani/" aria-label="LinkedIn Profile"><img src="/linkedin.svg" alt="LinkedIn"
            width="24" height="24"></a>
        <a href="https://x.com/AndreaSoprani" aria-label="Twitter Profile"><img src="/twitter.svg" alt="Twitter"
            width="24" height="24"></a>
        <a href="https://bsky.app/profile/sprn.it" aria-label="Bluesky Profile"><img src="/bluesky.svg" alt="Bluesky"
            width="24" height="24"></a>
      </p>
    </header>

    <section>
      {% block content %}{% endblock content %}
    </section>
  </div>
</body>

</html>
