<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Andrea Soprani{% endblock title %}</title>
  <meta name="description" content="{% block description %}Andrea Soprani's personal website{% endblock description %}">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/propic.jpg">
</head>

<body>
  <div class="wrapper {% block wrapper_class %}no-sidebar{% endblock wrapper_class %}">
    <header>
      <nav>
        <a href="/">Home</a> ·
        <a href="/blog/">Blog</a>
      </nav>
      {% block sidebar %}{% endblock sidebar %}
    </header>

    <section>
      {% block content %}{% endblock content %}
    </section>
  </div>
</body>

</html>
