{% extends "base.html" %}

{% block title %}{{ section.title }} | Andrea Soprani{% endblock title %}
{% block description %}{{ section.description | default(value="Blog posts by Andrea Soprani") }}{% endblock description %}
{% block wrapper_class %}with-sidebar{% endblock wrapper_class %}

{% block sidebar %}
  <img class="profile-photo" src="/propic.jpg" alt="Andrea Soprani">
  <p>This is me.</p>
  <p class="view">
    <a href="https://github.com/andreasoprani" aria-label="GitHub Profile"><img src="/github-mark.svg" alt="GitHub" width="24" height="24"></a>
    <a href="https://www.linkedin.com/in/andreasoprani/" aria-label="LinkedIn Profile"><img src="/linkedin.svg" alt="LinkedIn" width="24" height="24"></a>
    <a href="https://x.com/AndreaSoprani" aria-label="Twitter Profile"><img src="/twitter.svg" alt="Twitter" width="24" height="24"></a>
    <a href="https://bsky.app/profile/sprn.it" aria-label="Bluesky Profile"><img src="/bluesky.svg" alt="Bluesky" width="24" height="24"></a>
  </p>
{% endblock sidebar %}

{% block content %}
  <p><a href="/">← Home</a></p>
  <h2>{{ section.title }}</h2>
  {{ section.content | safe }}

  <ul class="post-list">
    {% for post in section.pages %}
      <li>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <small>{{ post.date | date(format="%Y-%m-%d") }}</small>
        {% if post.description %}<p>{{ post.description }}</p>{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
