<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Andrea Soprani</title>
  <meta name="description" content="Andrea Soprani's personal website">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/propic.jpg">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="/">Andrea Soprani</a></h1>
      <img src="/propic.jpg" alt="Andrea Soprani">
      <p>This is me.</p>
      <p class="view">
        <a href="https://github.com/andreasoprani" aria-label="GitHub Profile"><img src="/github-mark.svg" alt="GitHub"
            width="24" height="24"></a>
        <a href="https://x.com/AndreaSoprani" aria-label="Twitter Profile"><img src="/twitter.svg" alt="Twitter"
            width="24" height="24"></a>
        <a href="https://bsky.app/profile/sprn.it" aria-label="Bluesky Profile"><img src="/bluesky.svg" alt="Bluesky"
            width="24" height="24"></a>
      </p>
    </header>

    <section>
      {{ section.content | safe }}
    </section>


  </div>
</body>

</html>
